DirectoryIndex index.php

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	
	RewriteCond %{SCRIPT_FILENAME} !-d
	RewriteCond %{SCRIPT_FILENAME} !-l
	RewriteCond %{SCRIPT_FILENAME} !-f 
	RewriteCond %{REQUEST_URI} !\.(jpg|png|js|css)$
	
	RewriteRule ^([^/]+)(/)([^/]+)(/)(.*) index.php?controller=$1&action=$3&params=$5 [L]
	RewriteRule ^([^/]+)(/)(.*) index.php?controller=$1&action=$3&params= [L]	
</IfModule>
